body {
  /* background-image: url("./assets/images/philipp-berndt-173197-unsplash.jpg"); */
  background-color: rgba(209, 209, 209, 0.336);
  background-position: center;
  background-size: cover;
  background-attachment: fixed, scroll;
}
