h1 {
    text-align: center;
    color: #F8F8FF;
    /* color: white; */
    /* color: #8cff1a; */
}

h3 {
    color: #F8F8FF;
} 

h3
p, 
.new-user {
    font-family: 'Raleway', sans-serif;
}

p, 
.message {
    padding: 5px;
}

.new-user {
    color: #F8F8FF;
    /* color: white; */
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.home {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}

.donor, .charity {
    border: 3px solid gray;
    text-align: center;
}

/* .donor:hover, .charity:hover {
    background-color: lightslategray;
} */
