h1 {
    text-align: center;
    color: rgb(2, 0, 112);  
    /* color: white; */
    /* color: #8cff1a; */
}

h3 {
    color: rgb(2, 0, 112);
} 

h3,
p, 
.new-user {
    font-family: 'Raleway', sans-serif;
}

p, 
.message {
    padding: 5px;
}

.new-user {
    color:  rgb(2, 0, 112);
    /* color: white; */
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.home {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}

.donor, .charity {
    border: 3px solid gray;
    text-align: center;
}

.donor:hover, .charity:hover {
    background-color: rgb(184, 219, 253);
}
