.container-a {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}
.first-img img {
  margin-top: 20px;
  width: 50%;
  height: 100%;
}
.first-img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
}
.first-text {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 1;
}
.second-text {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2;
}

.container-c {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.second-img img {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}
.second-img {
  grid-column-start: 4;
  grid-column-end: 6;
}
.third-text {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
}
.fourth-text {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 2;
}

.container-b {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

h5 {
  text-align: center;
}

.pic1, .pic2, .pic3, 
.pic4, .pic5, .pic6 {
  text-align: center;
}

.title {
  padding-top: 2%;
  text-align: center;
  font-family: "Work Sans, sans-serif";
  font-size: 1.526rem;
}

.image-border {
  width: 50%;
  height: 50%;
  border-radius: 75%;
}

p {
  font-size: 1.20rem;
  font-family: "Lato, sans-serif";
}
